* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

.container {
    display: block;
    width: 100%;
}

h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2.5rem;
    text-align: center;
}

td {
    font-size: 4.6rem;
    padding: 20px 70px;
    border: 3px solid rgb(0, 0, 0);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto 0 auto;
}
@media (max-width:500px) {
    td {   
        padding: 10px 20px;
    }
}
